.container{
    width:100%;
    height:100%;
    background-color: dimgrey;
}
.header{
    width:100%;
    height:20%;
    background-color: black;
    }
h1{
    color:#ffffff;
    text-align: center;
    padding:50px;
    font-size:30px;
    }
li{
    list-style-type: none;
    float:left;
}
a{
    color:#ffffff;
    font-size:25px;
    padding: 25px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
 #menubar{
    width:100%;
    height:10%;
    background-color: brown;

}
.maincontent{
    width:100%;
    height:60%;
}
.footer{
    width:100%;
    height:10%;
    background-color:black;
}
